<a href="https://colab.research.google.com/github/AntonyLeons/Data-Mining-ACW/blob/master/Legacy_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Legacy Data

In [1]:
import pandas as pd
import numpy as np
import random as rand # import libs
import seaborn as sns

In [2]:
# from google.colab import files  # If running on google upload data

# uploaded = files.upload()

# for fn in uploaded.keys():
#   print('User uploaded file "{name}" with length {length} bytes'.format(
#       name=fn, length=len(uploaded[fn])))

In [3]:
data=pd.read_csv('data/600092_data.csv') # import CSV

In [4]:
print(data.dtypes) # see types, conta is not a int. IPSI is float but can be an int however this should not affect the model
print(f"total heading {len(data.columns)}")

Random          float64
Id                int64
Indication       object
Diabetes         object
IHD              object
Hypertension     object
Arrhythmia       object
History          object
IPSI            float64
Contra           object
label            object
dtype: object
total heading 11

In [5]:
data.describe(include = 'all') # Contra is an integer according to the data description but missing

,Random,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
count,1520.000000,1520.000000,1517,1518,1520,1517,1520,1518,1516.000000,1520,1517
unique,NaN,NaN,5,2,2,2,2,2,NaN,41,3
top,NaN,NaN,A-F,no,no,no,no,no,NaN,100,NoRisk
freq,NaN,NaN,493,1441,801,784,1190,1494,NaN,244,1008
mean,0.509545,188365.022368,NaN,NaN,NaN,NaN,NaN,NaN,78.872032,NaN,NaN
std,0.284006,64355.870242,NaN,NaN,NaN,NaN,NaN,NaN,10.162351,NaN,NaN
min,0.000295,78261.000000,NaN,NaN,NaN,NaN,NaN,NaN,35.000000,NaN,NaN
25%,0.268531,137130.750000,NaN,NaN,NaN,NaN,NaN,NaN,73.000000,NaN,NaN
50%,0.517616,191344.500000,NaN,NaN,NaN,NaN,NaN,NaN,77.000000,NaN,NaN
75%,0.754724,244559.500000,NaN,NaN,NaN,NaN,NaN,NaN,85.000000,NaN,NaN
max,0.999448,295978.000000,NaN,NaN,NaN,NaN,NaN,NaN,99.000000,NaN,NaN

In [6]:
data.head(15) # quick look at the data

,Random,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
0,0.602437,218242,A-F,no,no,yes,no,no,78.0,20,NoRisk
1,0.602437,159284,TIA,no,no,no,no,no,70.0,60,NoRisk
2,0.602437,106066,A-F,no,yes,yes,no,no,95.0,40,Risk
3,0.128157,229592,TIA,no,no,yes,no,no,90.0,85,Risk
4,0.676862,245829,CVA,no,no,no,no,no,70.0,20,NoRisk
5,0.916897,169990,A-F,no,no,no,yes,no,95.0,95,Risk
6,0.383408,196122,A-F,no,yes,yes,no,no,90.0,95,Risk
7,0.538333,261057,CVA,no,no,no,no,no,75.0,60,NoRisk
8,0.678157,256128,TIA,no,no,yes,no,no,81.0,20,NoRisk
9,0.689331,196936,A-F,no,no,yes,yes,no,95.0,100,Risk
10,0.678157,174588,CVA,no,yes,yes,yes,no,75.0,50,Risk
11,0.655217,271863,A-F,no,yes,yes,no,no,80.0,40,Risk
12,0.071533,274906,A-F,no,yes,no,no,no,76.0,50,NoRisk
13,0.025356,224025,CVA,no,yes,yes,yes,no,75.0,50,Risk
14,0.637037,167053,TIA,no,yes,no,no,no,78.0,30,NoRisk

In [7]:
# looking at the top 15 rows corta is indeed a Integer and yes/no and noRisk and Risk can be replaced with 1 or 0.

In [8]:
for headings in data.columns:
    print(f"{headings} {data[headings].nunique()}")  # get total distict for each column

Random 1222
Id 1520
Indication 5
Diabetes 2
IHD 2
Hypertension 2
Arrhythmia 2
History 2
IPSI 29
Contra 41
label 3

In [9]:
# random should be unique according to the data decription but in the id is Unique and Random has ~200 repeats, this implies the columns have been switched.
# label also has 3 values but should be nominal with Risk and NoRisk values

In [150]:
data_copy = data.copy() #copy original dataframe

In [151]:
data_copy.rename(columns={'Id':'Random','Random':'Id'},inplace=True) #swap columns
for headings in data_copy.columns:
    print(f"{headings} {data_copy[headings].nunique()}")  # get total distict for each column

Id 1222
Random 1520
Indication 5
Diabetes 2
IHD 2
Hypertension 2
Arrhythmia 2
History 2
IPSI 29
Contra 41
label 3

In [152]:
data_copy.set_index('Random',inplace=True,drop =True,verify_integrity=True) # setting unique index as random is unique

In [153]:
data_copy['Contra'] = pd.to_numeric(data_copy['Contra'],errors='coerce') # convert conta to numberic values replacing invalid with NaNs
data_copy.dtypes # conta now numeric

Id              float64
Indication       object
Diabetes         object
IHD              object
Hypertension     object
Arrhythmia       object
History          object
IPSI            float64
Contra          float64
label            object
dtype: object

In [154]:
data_copy['label'].unique()

array(['NoRisk', 'Risk', 'Unknown', nan], dtype=object)

In [155]:
data_copy = data_copy.replace('Unknown',np.nan)

In [156]:
data_copy['Indication'].unique()  # Data Decription says only 4 possible values

array(['A-F', 'TIA', 'CVA', 'ASx', 'Asx', nan], dtype=object)

In [157]:
data_copy = data_copy.replace('Asx','ASx')

In [160]:
data_copy.head()

,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
Random,,,,,,,,,,
218242,0.602437,A-F,no,no,yes,no,no,78.0,20.0,NoRisk
159284,0.602437,TIA,no,no,no,no,no,70.0,60.0,NoRisk
106066,0.602437,A-F,no,yes,yes,no,no,95.0,40.0,Risk
229592,0.128157,TIA,no,no,yes,no,no,90.0,85.0,Risk
245829,0.676862,CVA,no,no,no,no,no,70.0,20.0,NoRisk

In [158]:
null_headings = data_copy.isnull().any()
null_columns = data_copy.columns[null_headings]
null_column_count = data_copy[null_columns].isnull().sum() 
# find the number of null values in each column, Note Contra is absent
total = null_column_count.sum()
print(null_column_count)
print(f"total  {total}") # total records containing null values
percent = (total/len(data_copy.index))*100
print(f"Percent {percent:.3}%") #  20 records cointain null, this makes up only 1.32% of the data

Indication      3
Diabetes        2
Hypertension    3
History         2
IPSI            4
Contra          1
label           5
dtype: int64
total  20
Percent 1.32%

In [162]:
null_records = pd.DataFrame(columns=data_copy.columns)
for headings in null_columns:
    null_records = null_records.append(data_copy[data_copy[headings].isnull()]) #append all records with null values to dataframe
null_records

,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
261060,0.648122,NaN,no,yes,yes,no,no,70.0,40.0,NoRisk
205845,0.211760,NaN,no,yes,no,no,no,80.0,100.0,Risk
256076,0.761219,NaN,no,no,no,yes,yes,99.0,100.0,Risk
224257,0.681744,CVA,NaN,yes,yes,yes,no,90.0,100.0,Risk
210861,0.392130,A-F,NaN,no,yes,no,no,80.0,40.0,NoRisk
240232,0.388790,CVA,yes,no,NaN,yes,no,95.0,90.0,Risk
289096,0.707950,A-F,no,no,NaN,no,no,78.0,30.0,NoRisk
158024,0.319215,TIA,no,no,NaN,no,no,75.0,75.0,NoRisk
260770,0.617072,CVA,no,yes,no,no,NaN,85.0,50.0,NoRisk
196483,0.243645,CVA,no,no,yes,yes,NaN,95.0,100.0,Risk
227779,0.283872,A-F,no,no,no,no,no,NaN,100.0,Risk
146415,0.243518,CVA,no,yes,yes,yes,no,NaN,100.0,Risk
104176,0.920096,CVA,no,no,no,no,no,NaN,20.0,NoRisk
281679,0.004501,A-F,no,no,no,no,no,NaN,50.0,NoRisk
254469,0.518558,ASx,no,no,yes,no,no,70.0,NaN,NoRisk
173791,0.298074,ASx,no,yes,yes,no,no,70.0,55.0,NaN
283846,0.460170,CVA,no,no,yes,yes,no,95.0,100.0,NaN
190671,0.756938,CVA,no,yes,yes,no,no,76.0,50.0,NaN
165432,0.923418,CVA,no,yes,yes,yes,no,80.0,70.0,NaN
169726,0.813102,TIA,yes,no,no,no,yes,90.0,50.0,NaN

In [19]:
# all records with null values

In [20]:
data_copy.dropna(inplace=True) # drop na and nan records

In [21]:
data_copy.describe() # check 17 records removed

                Id         IPSI       Contra
count  1502.000000  1502.000000  1502.000000
mean      0.509369    78.832889    56.695739
std       0.284234    10.163915    29.526509
min       0.000295    35.000000    10.000000
25%       0.268254    73.000000    30.000000
50%       0.516824    77.000000    50.000000
75%       0.754513    85.000000    85.000000
max       0.999448    99.000000   100.000000

In [22]:
# pd.to_numeric(data_copy['IPSI'],downcast='integer',errors='coerce')

In [ ]:
# data_dummy = pd.get_dummies(data_copy, columns=['Diabetes']) # working get dummies

In [ ]:
# data_dummy.loc[224257:]