<a href="https://colab.research.google.com/github/AntonyLeons/Data-Mining-ACW/blob/master/Legacy_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Legacy Data

In [22]:
import pandas as pd
import numpy as np
import random as rand # import libs
import seaborn as sns

In [23]:
# from google.colab import files  # If running on google upload data

# uploaded = files.upload()

# for fn in uploaded.keys():
#   print('User uploaded file "{name}" with length {length} bytes'.format(
#       name=fn, length=len(uploaded[fn])))

In [24]:
data=pd.read_csv('data/600092_data.csv') # import CSV

In [25]:
number_of_headings =0
for heading in data.columns:
    print(heading)
    number_of_headings += 1

print(f"Number of headings: {number_of_headings}") # get column headings

Random
Id
Indication
Diabetes
IHD
Hypertension
Arrhythmia
History
IPSI
Contra
label
Number of headings: 11

In [26]:
data.describe() # Contra is an integer according to the data description but missing

            Random             Id         IPSI
count  1520.000000    1520.000000  1516.000000
mean      0.509545  188365.022368    78.872032
std       0.284006   64355.870242    10.162351
min       0.000295   78261.000000    35.000000
25%       0.268531  137130.750000    73.000000
50%       0.517616  191344.500000    77.000000
75%       0.754724  244559.500000    85.000000
max       0.999448  295978.000000    99.000000

In [50]:
data.dtypes # see types, conta is not a int. IPSI is float but can be an int however this should not affect the model

Random          float64
Id                int64
Indication       object
Diabetes         object
IHD              object
Hypertension     object
Arrhythmia       object
History          object
IPSI            float64
Contra           object
label            object
dtype: object

In [27]:
data.head(15)

,Random,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
0,0.602437,218242,A-F,no,no,yes,no,no,78.0,20,NoRisk
1,0.602437,159284,TIA,no,no,no,no,no,70.0,60,NoRisk
2,0.602437,106066,A-F,no,yes,yes,no,no,95.0,40,Risk
3,0.128157,229592,TIA,no,no,yes,no,no,90.0,85,Risk
4,0.676862,245829,CVA,no,no,no,no,no,70.0,20,NoRisk
5,0.916897,169990,A-F,no,no,no,yes,no,95.0,95,Risk
6,0.383408,196122,A-F,no,yes,yes,no,no,90.0,95,Risk
7,0.538333,261057,CVA,no,no,no,no,no,75.0,60,NoRisk
8,0.678157,256128,TIA,no,no,yes,no,no,81.0,20,NoRisk
9,0.689331,196936,A-F,no,no,yes,yes,no,95.0,100,Risk
10,0.678157,174588,CVA,no,yes,yes,yes,no,75.0,50,Risk
11,0.655217,271863,A-F,no,yes,yes,no,no,80.0,40,Risk
12,0.071533,274906,A-F,no,yes,no,no,no,76.0,50,NoRisk
13,0.025356,224025,CVA,no,yes,yes,yes,no,75.0,50,Risk
14,0.637037,167053,TIA,no,yes,no,no,no,78.0,30,NoRisk

In [28]:
# looking at the top 15 rows corta is indeed a Integer and yes/no and noRisk and Risk can be replaced with 1 or 0.

In [30]:
for headings in data.columns:
    print(f"{headings} {data[headings].nunique()}")  # get total distict for each column

Random 1222
Id 1520
Indication 5
Diabetes 2
IHD 2
Hypertension 2
Arrhythmia 2
History 2
IPSI 29
Contra 41
label 3

In [9]:
# random should be unique according to the data decription but in the id is Unique and Random has ~200 repeats, this implies the columns have been switched.
# label also has 3 values but should be nominal with Risk and NoRisk values

In [40]:
data_copy = data.copy() #copy original dataframe

In [32]:
data_copy.rename(columns={'Id':'Random','Random':'Id'},inplace=True) #swap columns
for headings in data_copy.columns:
    print(f"{headings} {data_copy[headings].nunique()}")  # get total distict for each column

Id 1222
Random 1520
Indication 5
Diabetes 2
IHD 2
Hypertension 2
Arrhythmia 2
History 2
IPSI 29
Contra 41
label 3

In [33]:
data_copy.set_index('Random') # setting unique index as random is unique

,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
Random,,,,,,,,,,
218242,0.602437,A-F,no,no,yes,no,no,78.0,20,NoRisk
159284,0.602437,TIA,no,no,no,no,no,70.0,60,NoRisk
106066,0.602437,A-F,no,yes,yes,no,no,95.0,40,Risk
229592,0.128157,TIA,no,no,yes,no,no,90.0,85,Risk
245829,0.676862,CVA,no,no,no,no,no,70.0,20,NoRisk
...,...,...,...,...,...,...,...,...,...,...
93406,0.391440,A-F,no,yes,no,no,no,76.0,60,NoRisk
121814,0.253504,A-F,no,no,yes,yes,no,90.0,75,Risk
101754,0.620373,TIA,no,no,yes,no,no,75.0,20,NoRisk
263836,0.639342,A-F,no,yes,no,no,no,70.0,45,NoRisk
254941,0.634922,CVA,no,no,no,no,no,60.0,20,NoRisk

In [53]:
null_headings = data_copy.isnull().any()
null_columns = data_copy.columns[null_headings]
null_column_count = data_copy[null_columns].isnull().sum() 
# find the number of null values in each column, Note Contra is absent
total = null_column_count.sum()
print(null_column_count)
print(f"total  {total}") # total records containing null values
percent = (total/len(data_copy.index))*100
print(f"Percent {percent:.3}%") #  17 records cointain null, this makes up only 1.12% of the data

Indication      3
Diabetes        2
Hypertension    3
History         2
IPSI            4
label           3
dtype: int64
total  17
Percent 1.12%

In [35]:
null_records = pd.DataFrame(columns=data.columns)
for headings in null_columns:
    null_records = null_records.append(data_copy[data_copy[headings].isnull()]) #append all records with null values to dataframe
null_records

,Arrhythmia,Contra,Diabetes,History,Hypertension,IHD,IPSI,Id,Indication,Random,label
442,no,40,no,no,yes,yes,70.0,0.648122,NaN,261060,NoRisk
822,no,100,no,no,no,yes,80.0,0.211760,NaN,205845,Risk
1007,yes,100,no,yes,no,no,99.0,0.761219,NaN,256076,Risk
447,yes,100,NaN,no,yes,yes,90.0,0.681744,CVA,224257,Risk
514,no,40,NaN,no,yes,no,80.0,0.392130,A-F,210861,NoRisk
201,yes,90,yes,no,NaN,no,95.0,0.388790,CVA,240232,Risk
590,no,30,no,no,NaN,no,78.0,0.707950,A-F,289096,NoRisk
983,no,75,no,no,NaN,no,75.0,0.319215,TIA,158024,NoRisk
337,no,50,no,NaN,no,yes,85.0,0.617072,CVA,260770,NoRisk
784,yes,100,no,NaN,yes,no,95.0,0.243645,CVA,196483,Risk
620,no,100,no,no,no,no,NaN,0.283872,A-F,227779,Risk
752,yes,100,no,no,yes,yes,NaN,0.243518,CVA,146415,Risk
845,no,20,no,no,no,no,NaN,0.920096,CVA,104176,NoRisk
916,no,50,no,no,no,no,NaN,0.004501,A-F,281679,NoRisk
812,no,50,no,no,yes,yes,76.0,0.756938,CVA,190671,NaN
974,yes,70,no,no,yes,yes,80.0,0.923418,CVA,165432,NaN
1418,no,50,yes,yes,no,no,90.0,0.813102,TIA,169726,NaN

In [15]:
# all records with null values

In [36]:
data_copy.dropna(inplace=True) # drop na and nan records

In [37]:
data_copy.describe() # check 17 records removed

                Id         Random         IPSI
count  1503.000000    1503.000000  1503.000000
mean      0.509375  188107.952096    78.827013
std       0.284140   64455.557291    10.163085
min       0.000295   78261.000000    35.000000
25%       0.268393  136029.500000    73.000000
50%       0.517545  191092.000000    77.000000
75%       0.754513  244493.000000    85.000000
max       0.999448  295978.000000    99.000000

In [59]:
# pd.to_numeric(data_copy['IPSI'],downcast='integer',errors='coerce')

0       78.0
1       70.0
2       95.0
3       90.0
4       70.0
        ...
1515    76.0
1516    90.0
1517    75.0
1518    70.0
1519    60.0
Name: IPSI, Length: 1520, dtype: float64